{% extends 'base.html' %}

{% block title %}
    Add_Chapter
{% endblock %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
            <form action="/admin/add_quiz" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <h4 class="text-center fs-2">New Quiz</h4>

                <!-- Chapter ID -->
                <div class="form-floating mt-5 mb-3">
                    <select class="form-select" id="floatingSelect" name="chapterId" aria-label="Floating label select example" required>
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <label for="floatingSelect">Chapter</label> 
                </div>

                <!-- Quiz Date -->
                <div class="form-floating mb-3 my-4">
                    <input type="date" class="form-control" id="floatingDOB" name="dob" required>
                    <label for="floatingDOB">Date of Birth</label>
                </div>

                 <!-- timeDuration -->
                <div class="form-floating mb-3">
                    <input type="time" id="timeDuration" class="form-control" placeholder="" name="timeDuration">
                    <label for="timeDuration">Time Required<i>(in hrs)</i></label>
                </div>

                <!-- Subject Name
                <div class="form-floating mb-3 my-4">
                    <input type="text" class="form-control" id="subjectId" placeholder="" name="subjectId">
                    <label for="subjectId">Chapter Name</label>
                </div> -->

                

                <!-- No. of Questions
                <div class="form-floating">
                    <input type="number" id="noOfQuizes" class="form-control" placeholder="e.g., 10" name="noOfQuizes" min="1" required>
                    <label for="noOfQuizes">No. of Questions</label>
                </div> -->


                <!-- subject_id  Neeed to configure the subject_id
                <div class="form-floating mb-3">
                    <select id="subjectId" class="form-control" name="subjectId">
                        {% for subject in subjects %}
                            <option value="" disabled selected>Select a service type</option>
                            <option value="1">Consulting</option>
                            <option value="2">Development</option>
                            <option value="design">Design</option>
                            <option value="marketing">Marketing</option>
                        {% endfor %}
                    </select>
                    <label for="serviceType">Service Type</label>
                </div> -->
                 
                <div class="row justify-content-center mt-5">
                    <div class="col-auto">
                        <button class="btn btn-lg btn-outline-success mx-2" type="submit">Save</button>
                    </div>
                    <div class="col-auto">
                        <a href="{{ url_for('dashboard') }}" class="btn btn-lg btn-outline-danger mx-2">Cancel</a>
                    </div>
                </div>

                <hr class="my-4">
                <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>
</div>
{% endblock %}