{% extends 'base.html' %}

{% block title %}
Student SignUp
{% endblock %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="col-md-10 mx-auto col-lg-7">
        <form action="{{ url_for('signup') }}" method="POST" enctype="multipart/form-data"
            class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <h4 class="text-center fs-2">Customer Signup</h4>

            <!-- Fullname -->
            <div class="mb-3 my-4 row">
                <div class="col-4 my-auto d-md-flex fs-4 fw-normal"><label for="floatingFullname">Fullname : </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control tall-input" id="floatingFullname" name="fullname"
                        placeholder="Full name (e.g., John Doe)" required>
                </div>
            </div>

            <!-- Qualification -->
            <div class="mb-3 my-4 row">
                <div class="col-4 my-auto d-md-flex fs-4 fw-normal"><label for="qualifications">Qualification : </label>
                </div>
                <div class="col-8">
                    <select name="qualification" id="qualifications" class="form-control rounded-3 mt-2" required>
                        {% if qualifications %}
                        <option value="" disabled selected>--Please choose a qualification--</option>
                        {% for qualification in qualifications %}
                        <option value="{{qualification}}">{{qualification}}</option>
                        {% endfor %}
                        {% else %}
                        <option value="" disabled selected>--No Qualifications are available--</option>
                        {% endif %}
                    </select>
                </div>
            </div>


            <!-- Username -->
            <div class="mb-3 my-4 row">
                <div class="col-4 my-auto d-md-flex fs-4 fw-normal"><label for="floatingsUsername">Username : </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control tall-input" id="floatingsUsername" name="username"
                        placeholder="Username (letters & numbers)" required>
                </div>
            </div>

            <!-- Date of Birth  -->
            <div class="mb-3 my-4 row">
                <div class="col-4 my-auto d-md-flex fs-4 fw-normal">
                    <label for="floatingDOB">Date of Birth:</label>
                </div>
                <div class="col-8">
                    <input type="date" class="form-control tall-input mt-1" id="floatingDOB" name="dob" required>
                </div>
            </div>

            <!-- Email ID -->
            <div class="mb-3 my-4 row">
                <div class="col-4 my-auto d-md-flex fs-4 fw-normal"><label for="floatingEmail">Email ID : </label></div>
                <div class="col-8">
                    <input type="email" class="form-control tall-input" id="floatingEmail" name="email"
                        placeholder="Email (e.g., user@domain.com)" required>
                </div>
            </div>

            <!-- Contact no. -->
            <div class="mb-3 my-4 row">
                <div class="col-4 my-auto d-md-flex fs-4 fw-normal"><label for="floatingContact">Phone no. : </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control tall-input mt-1" id="floatingContact" name="contact_no"
                        placeholder="10-digit contact number (e.g., 1234567890)" required>
                </div>
            </div>

            <!-- Document Upload -->
            <div class="mb-3 my-4 row">
                <div class="col-4 my-auto d-md-flex fs-4 fw-normal"><label for="documentUpload">Attach document : (pdf
                        only) </label></div>
                <div class="col-8">
                    <input type="file" class="form-control tall-input mt-1" id="documentUpload" name="document"
                        accept=".pdf" required>
                </div>
            </div>

            <!-- address -->
            <div class="mb-3 my-4 row">
                <div class="col-4 my-auto d-md-flex fs-4 fw-normal"><label for="address">Address:</label></div>
                <div class="col-8">
                    <textarea class="form-control mt-1" id="address" name="address"
                        placeholder="Full address (e.g., 123 Main St, Springfield)" required></textarea>
                </div>
            </div>

            <!-- Password -->
            <div class="mb-3 my-4 row">
                <div class="col-4 my-auto fs-4 fw-normal"><label for="floatingPassword">Password : </label></div>
                <div class="col-8">
                    <input type="password" class="form-control tall-input" id="floatingPassword" name="password"
                        placeholder="Password (upper & lower case, numbers)" required>
                </div>
            </div>

            <!-- Submit Button -->
            <button class="w-100 btn btn-lg btn-primary fs-4 mb-4" type="submit">Register</button>

            <!-- Redirect to Login -->
            <div class="container text-center mb-0 fw-bold fs-5">
                <p class="fw-normal">Already have an Account?</p>
            </div>
            <div class="container text-center mt-0 fs-4 fw-bold">
                <a href="{{url_for('login')}}">Login</a>
            </div>

            <!-- Terms and Conditions -->
            <hr class="my-4">
            <small class="text-body-secondary">By clicking Register, you agree to the terms of use.</small>
        </form>
    </div>
</div>

{% endblock %}