{% extends 'base.html' %}

{% block title %}
    Student_dashboard
{% endblock %}


{% block styles %}
{% endblock %}

{% block content %} 
    <div class="container mt-4">
        
        <!-- Upcoming Quiz -->
            <h2>Upcoming Quizes</h2>
            {% if quizes %}
                <table class="table table-hover shadow mt-3">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">ID</th>
                            <th scope="col" class="text-center">No. of Questions</th>
                            <th scope="col" class="text-center">Date</th>
                            <th scope="col" class="text-center">Duration(hh:mm)</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quiz in quizes %}
                            <tr>
                                <th scope="col" class="text-center">{{ loop.index }}</th>
                                <td class="text-center">{{quiz.no_of_questions}}</td>
                                <td class="text-center">{{quiz.formatted_date}}</td>
                                <td class="text-center">{{quiz.time_duration}}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center gap-2">
                                        <a href="{{url_for('view_quiz', quiz_id=quiz.id)}}" class="btn btn-outline-primary btn-sm">View</a>
                                        <a href="#" class="btn btn-outline-success btn-sm">Start</a>
                                    </div>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="container"><h3 style="color: #808080;">Oops! Seems like no upcoming quizes. They will added soon</h3></div>
            {% endif %}


    </div>
{% endblock%}